@{
    ViewData["Title"] = "Nos Formations";
}

<article class="n_formations p-3 text-light">
    <h1 class="font-weight-bold ">Nos Formations</h1>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en 
        page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis 
        les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte 
        pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq 
        siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu 
        n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de 
        feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, 
        par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
    </p>
</article>
<div>
    <div class="bg-black p-2 d-flex types">
        <section class="d-flex" id="types"></section>
    </div>
    <div class="d-flex justify-content-between sectionForm">
        <div class="p-3 cities">
            <h1 class="">Filter par</h1>
            <section id="villes" class="d-flex flex-column w-100 text-center"></section>
        </div>
        <div id="loader" class="spinner-border text-danger " style="padding:4em;width:100px; height:100px;" role="status">
            <span class="sr-only text-center">Loading...</span>
        </div>
        <div class="m-auto d-flex justify-content-center align-items-center w-100">
            <section id="formations" class="w-100">
            </section>
        </div>
    </div>
</div>


<script>


    $.ajax({
        url: '/Formations/GetFormationtypes',
        type: 'GET',
        success: function (res) {
            //console.log(res);
            $("#types").append(
                `
                    <button class="btn-type mr-3 font-weight-bold text-light" onclick="get_All()">All</button>
                `
            );
            $.each(res, function (index, option) {
                $("#types").append(
                    `
                            <button class="btn-type mr-3 font-weight-bold text-light" id="${option.id}" onClick="get_Formation(null, this.id)">${option.name}</button>
                    `
                );
            });
        }
    });

    $.ajax({
        url: '/Formations/GetVilles',
        type: 'GET',
        success: function (res) {
            //console.log(res);
            $("#villes").append(
                `
                        <button class="btn-type border" onclick="get_All()">All</button>
                `
            );
            $.each(res, function (index, option) {
                $("#villes").append(
                    `
                            <button class="btn-type border" id="${option.id}" onClick="get_Formation(this.id, null)">${option.name}</button>
                    `
                );
            });
        }
    });

    function get_Formation(villeId, formationTypeId) {
        $("#formations").load(location.href +" #formations");
        setTimeout(function () {
            $.ajax({
                url: '/Formations/GetFormationsByFilter?villeId=' + villeId + '&&formationTypeId=' + formationTypeId,
                //data: {
                //    villeId: villeId,
                //    formationTypeId: formationTypeId
                //},
                type: 'GET',
                beforeSend: function () {
                    $("#loader").show();
                },

                complete: function () {
                    $("#loader").hide();
                },

                success: function (res) {
                    if (res.length == 0) {
                        $("#formations").append(`<h1 class="text-center">No Data</h1>`)
                    }else{
                        console.log(res);
                        $.each(res, function (index, option) {
                            $("#formations").append(
                                `
                                    <div class="d-flex justify-content-between p-3 m-3 formation">
                                        <div class="p-2">
                                            <h5>${option.dayStart}=>${option.dayEnd}</h5>
                                            <p>${option.timeBeginning} => ${option.timeEnd}</p>
                                        </div>
                                        <div class="p-2">
                                            <h5>${option.title}</h5>
                                            <p class="descFormation">${option.description}</p>
                                            <h5>${option.ville}</h5>
                                        </div>
                                        <div class="p-2">
                                            <h5>${option.formationType}</h5>
                                            <h6>${option.mode}</h6>
                                            <a href="formations/formationdetails/${option.id}" class="btn btn-danger">Inscription</a>
                                        </div>
                                    </div>
                                `
                            );
                        });
                    }
                    
                },
                error: function (errorThrown) {
                    $("#formations").append(
                        `
                            <h1>Error</h1>
                        `
                    );
                }
            });
        }, 500)
    }
    function get_All() {
        $("#formations").load(location.href + " #formations");
        setTimeout(function () {
            $.ajax({
                url: '/Formations/GetFormations',
                type: 'GET',
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (res) {
                    if (res.length == 0) {
                        $("#formations").append(`<h1 class="text-center">No Data</h1>`)
                    } else {
                        console.log(res);
                        $.each(res, function (index, option) {
                            $("#formations").append(
                                `
                                        <div class="d-flex justify-content-between formation p-3 m-3">
                                                <div class="p-2 text-center" style="width:15%;">
                                                <h5>${option.dayStart}=>${option.dayEnd}</h5>
                                                <p>${option.timeBeginning} => ${option.timeEnd}</p>
                                            </div>
                                            <div class="p-2 w-50">
                                                <h5>${option.title}</h5>
                                                <p class="descFormation">${option.description}</p>
                                                <h5>${option.ville}</h5>
                                            </div>
                                            <div class="p-2 text-center" style="width:15%;">
                                                <h5>${option.formationType}</h5>
                                                <h6>${option.mode}</h6>
                                                <a href="formations/formationdetails/${option.id}" class="btn btn-danger">Inscription</a>
                                            </div>
                                        </div>
                                `
                            );
                        });
                    }
                },
                error: function (errorThrown) {
                    $("#formations").append(
                        `
                            <h1>Error</h1>
                        `
                    );
                }
            });
        }, 500)
    }

    $(document).ready(get_All);
</script>
