

<h1 class="text-center">Nos Formations</h1>
<div>
    <div class="d-flex justify-content-center">
        <h1>Types</h1>
        <section class="d-flex" id="types"></section>
    </div>
    <div class="d-flex">
        <div class="w-25">
            <h1>Cities</h1>
            <section id="villes" class="d-flex flex-column"></section>
        </div>
        <div>
            <section id="formations"></section>
        </div>
    </div>
</div>


<script>


    $.ajax({
        url: 'https://localhost:7070/Formations/GetFormationtypes',
        type: 'GET',
        success: function (res) {
            //console.log(res);
            $("#types").append(
                `
                    <button onclick="get_All()">All</button>
                `
            );
            $.each(res, function (index, option) {
                $("#types").append(
                    `
                        
                        <button id="${option.id}" onClick="get_Formation(null, this.id)">${option.name}</button>
                    `
                );
            });
        }
    });

    $.ajax({
        url: 'https://localhost:7070/Formations/GetVilles',
        type: 'GET',
        success: function (res) {
            //console.log(res);
            $("#villes").append(
                `
                    <button onclick="get_All()">All</button>
                `
            );
            $.each(res, function (index, option) {
                $("#villes").append(
                    `
                            <button class="" id="${option.id}" onClick="get_Formation(this.id, null)">${option.name}</button>
                    `
                );
            });
        }
    });

    function get_Formation(villeId, formationTypeId) {
        $("#formations").load(location.href +" #formations");
        setTimeout(function () {
            $.ajax({
                url: 'https://localhost:7070/Formations/GetFormationsByFilter?villeId=' + villeId + '&&formationTypeId=' + formationTypeId,
                //data: {
                //    villeId: villeId,
                //    formationTypeId: formationTypeId
                //},
                type: 'GET',
                success: function (res) {
                    console.log(res);
                    $.each(res, function (index, option) {
                        $("#formations").append(
                            `
                                            <div class="d-flex bg-secondary p-3 m-3">
                                            <div>
                                                <h5>${option.day}</h5>
                                                <p>${option.timeBeginning}</p>
                                                <p>${option.timeEnd}</p>
                                            </div>
                                            <div>
                                                <h5>${option.title}</h5>
                                                <p>ajsasjasjasasjasoajsaosasoajs,askansaisnas kasansasasa snaskasasnaskansn kasnakskanskas nasasiaksnk asnaksna ksnaskasn</p>
                                                <h5>${option.ville}</h5>
                                            </div>
                                            <div>
                                                <h5>${option.formationType}</h5>
                                                <h6>${option.mode}</h6>
                                                <a href="formations/formationdetails/${option.id}" class="btn btn-danger">Inscription</a>
                                            </div>
                                        </div>
                                    `
                        );
                    });
                }
            });
        }, 500)
    }
    function get_All() {
        $.ajax({
            url: 'https://localhost:7070/Formations/GetFormations',
            type: 'GET',
            success: function (res) {
                console.log(res);
                $.each(res, function (index, option) {
                    $("#formations").append(
                        `
                                        <div class="d-flex bg-secondary p-3 m-3">
                                        <div>
                                            <h5>${option.day}</h5>
                                            <p>${option.timeBeginning}</p>
                                            <p>${option.timeEnd}</p>
                                        </div>
                                        <div>
                                            <h5>${option.title}</h5>
                                            <p>ajsasjasjasasjasoajsaosasoajs,askansaisnas kasansasasa snaskasasnaskansn kasnakskanskas nasasiaksnk asnaksna ksnaskasn</p>
                                            <h5>${option.ville}</h5>
                                        </div>
                                        <div>
                                            <h5>${option.formationType}</h5>
                                            <h6>${option.mode}</h6>
                                            <a href="formations/formationdetails/${option.id}" class="btn btn-danger">Inscription</a>
                                        </div>
                                    </div>
                                `
                    );
                });
            }
        });
    }

    $(document).ready(get_All);
</script>
