html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.btn-type {
    all: unset;
    cursor: pointer;
    color:white;
    font-size: 1.7rem;
}