



<div class="page-wrapper chiller-theme toggled ">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <div class="user-info">
                    <strong class="user-role">Administrator</strong>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="text-dark" asp-controller="Role" asp-action="Index">
                            <i class="far fa-gem"></i>
                            <span>Menu</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="text-dark" asp-controller="Dashboard" asp-action="Editor">
                            <i class="far fa-gem"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="text-dark" asp-controller="Dashboard" asp-action="Groups">
                            <i class="far fa-gem"></i>
                            <span>Team</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</div>